/.fabric/
/coremods/
/logs/
/not-enough-crashes/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/

realms_persistence.json
options.txt
servers.dat
servers.dat_old
